# Created by https://www.gitignore.io/api/node
# Edit at https://www.gitignore.io/?templates=node

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.DS_store

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories and others
node_modules
dist
build
logs
*.log
analyze
.DS_Store
.env
report.*
**/package-lock.json
now
.now
e2e/**/*(failed).png
.vercel
e2e/log/*
e2e/results/*
.cache
coverage